.container
  .content
    .col-md-6
      .panel.panel-default
        .panel-heading.text-center Already have an account? Sign in!
        .panel-body
          = simple_form_for :user, url: sessions_path do |f|
            .form-group
              = f.input :username
            .form-group
              = f.input :password

            = button_tag "Sign In", class: "btn btn-primary btn-block"
    .col-md-6
      .panel.panel-default
        .panel-heading.text-center New users sign up!
        .panel-body
          = simple_form_for(:user, url: sign_up_path, html: {class: 'user-sign-up'}, defaults: { input_html: { style: "display: inline-block"} }) do |f|
            .form-group
              = f.input :username
            .text-center
              %a{href: "javascript:checkAvailability();"} Check availabilty
              %br
              %span.availabilty{id: "usernameAvailability"}
            %br
            .form-group
              = f.input :first_name
            .form-group
              = f.input :last_name
            .form-group
              = f.input :email
            .form-group
              = f.input :password
            .form-group
              = f.input :password_confirmation

            = button_tag "Sign Upd", class: "btn btn-primary btn-block"
